/* custom-amplify-styles.css */
[data-amplify-authenticator] {
    --amplify-components-authenticator-router-box-shadow: 0 0 16px var(--amplify-colors-overlay-10);
    --amplify-components-authenticator-router-border-width: 0;
    --amplify-components-authenticator-form-padding: var(--amplify-space-medium) var(--amplify-space-xl) var(--amplify-space-xl);
    --amplify-components-button-primary-background-color: var(--amplify-colors-neutral-100);
    --amplify-components-fieldcontrol-focus-box-shadow: 0 0 0 2px var(--amplify-colors-orange-40);
    --amplify-components-tabs-item-active-border-color: var(--amplify-colors-neutral-100);
    --amplify-components-tabs-item-color: var(--amplify-colors-neutral-80);
    --amplify-components-tabs-item-active-color: var(--amplify-colors-black);
    --amplify-components-button-link-color: var(--amplify-colors-black);
}

[data-amplify-authenticator] .amplify-button[data-variation="primary"]:hover,
[data-amplify-authenticator] .amplify-button[data-variation="primary"]:focus {
    background-color: var(--amplify-colors-orange-60) !important;
    /* Change this to your desired hover color */
    color: var(--amplify-colors-white) !important;
    /* Change this to your desired text color */
    box-shadow: 0 0 10px var(--amplify-colors-orange-60) !important;
    /* Optional: Adds a shadow effect */
}