body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.shell {
    overflow: hidden;
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: left;
    width: 50%;
}

#bottom {
    border: 1px solid black;
    clear: both;
}

.container {
    border: 1px solid black;
}